<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <div th:replace="~{posts/base :: header}"></div>
        <h1>Profile</h1>
        <section>
            <img th:src="@{/images/{file}(file=${user.profilePicture})}" alt="">
            <p th:text="${user.username}"></p>
        </section>

        <section>
            <div th:each="post : ${posts}">
                <img th:src="@{/images/{file}(file=${post.image})}" alt="">
                <p th:text="${post.content}"></p>
            </div>
        </section>
</body>
</html>