<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head>
        <meta charset="UTF-8">
        <title>Sign up</title>
        <link rel="stylesheet" href="/main.css" />
    </head>

    <body>
    <span th:if="${usernameBlank}">Username cannot be empty</span>
    <span th:if="${uniqueUserBool}" th:text="'Username ' + ${chosenUsername} + ' has been taken'"></span>
    <span th:if="${noFirstName}">First name cannot be blank</span>
    <span th:if="${noSurname}">Surname cannot be blank</span>
    <span th:if="${imageSize}">Image size must be less than 10Mb</span>
    <span th:if="${bothNamesBlank}">Both names must be provided</span>
    <form th:action="@{/sign_up/new}" th:object="${sign_up}" method="post" enctype="multipart/form-data" >
        <label th:for="username">Username:</label>
        <input id="username-input" type="text" placeholder="Choose a username" th:field="*{username}"/> <br>
        <label th:for="first_name">First Name:</label>
        <input id="first-name-input" type="text" th:placeholder="${firstName}" th:field="*{first_name}"/> <br>
        <label th:for="surname">Surname:</label>
        <input id="surname-input" type="text" th:placeholder="${surname}" th:field="*{surname}"/> <br>
        <label>Upload a profile picture</label>
        <input type="file" name="profile_picture" accept = "image/png, image/jpeg, image/jpg"><br>
        <input id="submit-btn" type="submit" value="Submit"/>
        <input type="reset" value="Reset" />
    </form>

    </body>
</html>